---
pagination:
  data: wordpress
  size: 5
title: Home
layout: layouts/base.njk
---

<div class="my-6 columns-1">
  {%- for item in pagination.items %}
    <div class="py-2 columns-1">
      <h2 class="font-bold">
        <a href="{{ item.url | url }}">{{ item.title.rendered }}</a>
      </h2>
      
      <p class="text-sm"><time datetime="{{ item.date | htmlDateString }}">{{ item.date }}</time></p>
      
      <div class="my-4">{{ item.excerpt.rendered }}</div>
    </div>
  {% endfor %}
</div>

{{ wordpress | dump | safe }}

<div class="space-y-8">

  <div>
    <p>This is the project's home page. There is a little styling for demonstration purposes only.</p>
    <p>The navigation might as well be a sidebar, or a floating menu. This template provides the structure, make it yours ✌️</p>
  </div>


  <a href="https://github.com/tomreinert/minimal-11ty-tailwind-starter" class="inline-block uppercase rounded bg-blue-600 hover:bg-blue-700 px-4 py-2 text-white text-sm">Download on github</a>
</div>
